@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  background-color: white;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 140px;
}
.header > div {
  display: flex;
  gap: 46px;
  align-items: center;
}
img {
  width: 180px;
}
a {
  font-weight: 500;
  font-size: 17.16px;
  color: black;
  text-decoration: none;
}
.help-button {
  background-color: #75bf7a;
  color: white;
  font-weight: 600;
  font-size: 22px;
  border: none;
  radius: 6px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}
.hero-section{
  display: flex;
  /* height: 70vh; */
  
} 

.section-1{
  display: flex;
  flex-direction: column;
align-items: center;
width: 50%; 
justify-content: end;
}
.section-1 h2{
  text-decoration: none;
font-weight: 800px;
font-size: 55px;
margin-top: 163px;
margin-left: 80px;
margin-bottom: auto;
}
.section-1 p{
  color: #9E9DA2;
  text-decoration: none;
  font-size: 24px;
  font-weight: 500px;
  margin-top: 27px;
margin-left: 80px;
}



.download-buttons{
  color: white;
  background-color: black;
  display: flex;
   justify-content: space-around;
  align-items: center;
  gap: 15px;
  border: none;
}
.my-buttons{
  color: white;
  background-color: black;
}