@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}
body{

  background-color: white;
}
.hero-section{
  background-color: rgb(250, 248, 248);
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 140px;
}
.header > div {
  display: flex;
  gap: 46px;
  align-items: center;
}
img {
  width: 180px;
}
a {
  font-weight: 500;
  font-size: 17.16px;
  color: black;
  text-decoration: none;
}
.help-button {
  background-color: #75bf7a;
  color: white;
  font-weight: 600;
  font-size: 22px;
  border: none;
  radius: 6px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}
.hero-section{
  display: flex;
  /* height: 70vh; */
  
} 

.section-1{
  display: flex;
  flex-direction: column;
align-items: center;
width: 50%; 
justify-content: end;
}
.section-1 h2{
  text-decoration: none;
font-weight: 800px;
font-size: 55px;
margin-top: 163px;
margin-left: 80px;
margin-bottom: auto;
}
.section-1 p{
  color: #9E9DA2;
  text-decoration: none;
  font-size: 24px;
  font-weight: 500px;
  margin-top: 27px;
margin-left: 80px;
}



.download-buttons{
  display: flex;
  gap: 30px;
}
.download-buttons button{
  display: flex;        /* icon + text in a row */
  align-items: center;
  gap: 12px;

  background-color: black;
  color: white;

  padding: 16px 24px;
  border: none;
  border-radius: 6px;

  font-size: 24.6px;
  font-weight: 800;

}
.download-buttons button img {
  width: 45px;
  height: 39.8863639831543px;
}
.download-buttons{
  margin-left: 80px;
}
.section-2{
  width: 50%;
  display: flex;
  justify-content: center;
}
.section-2 >img{
  width: 500px;
  height: 550px;
}