@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 140px;
}
img {
  width: 180px;
}
a {
  font-weight: 500;
  font-size: 17.16px;
  color: black;
  text-decoration: none;
}
.help-button {
  background-color: #75bf7a;
  color: white;
  border: none;
}
