@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  --theme-color: #75bf7a;
  --light-text-color: #9e9da2;
  background-color: rgb(250, 248, 248);
}
body {
  background-color: rgb(250, 248, 248);
}
.hero-section {
  display: flex;
  background-color: rgb(250, 248, 248);
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 140px;
}
.header > div {
  display: flex;
  gap: 46px;
  align-items: center;
}
img {
  width: 180px;
}
a {
  font-weight: 500;
  font-size: 17.16px;
  color: black;
  text-decoration: none;
}
.help-button {
  background-color: #75bf7a;
  color: white;
  font-weight: 600;
  font-size: 22px;
  border: none;
  border-radius: 6px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}
.hero-section {
  display: flex;
  /* flex-wrap: wrap; */
}

.section-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  justify-content: end;
}
.section-1 h2 {
  text-decoration: none;
  font-weight: 800px;
  font-size: 55px;
  margin-top: 163px;
  margin-left: 80px;
  margin-bottom: auto;
}
.section-1 p {
  color: #9e9da2;
  text-decoration: none;
  font-size: 24px;
  font-weight: 500px;
  margin-top: 27px;
  margin-left: 80px;
}

.download-buttons {
  display: flex;
  gap: 30px;
}
.download-buttons button {
  display: flex;
  align-items: center;
  gap: 12px;

  background-color: black;
  color: white;

  padding: 16px 24px;
  border: none;
  border-radius: 6px;

  font-size: 24.6px;
  font-weight: 800;
}
.download-buttons img {
  width: 45px;
  height: 39.8863639831543px;
  background-color: white;
  color: black;
}
span {
  color: white;
  background-color: black;
}
.button1 {
  color: white;
  background-color: black;
}
.download-buttons {
  margin-left: 80px;
}
.section-2 {
  width: 50%;
  display: flex;
  justify-content: center;
}
.section-2 > img {
  width: 500px;
  height: 550px;
}
/* .green-box{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
 margin-left: 80px;
  margin-right: 80px;
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: var(-theme-color);
  height: 166px;
  border-radius: 10px;

} */
.green-section {
  display: flex;
  flex-direction: row;
  height: 166px;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--theme-color);
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 86px;
  border-radius: 10px;
  /* padding-left: 16px;
  padding-right: 16px; */
}
.green-section > p {
  font-weight: 600px;
  font-size: 24.6px;
  color: white;
  background-color: var(--theme-color);
}
.green-section > div {
  display: flex;
  gap: 11px;
  background-color: var(--theme-color);
}

.green-section input {
  width: 350px;
  /* height: 40px; */
  border-radius: 4.39px;
  border: none;
  padding: 20px;
}
.green-section input:focus {
  outline-color: var(--theme-color);
}
.green-section input::placeholder {
  color: #9e9da2;
}
.green-section button {
  width: 200px;
  border: none;
  border-radius: 4.39px;
  background-color: black;
}
.black-button {
  font-size: 22px;
  color: white;
  font-weight: 800;
}
